---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";

type Props = {
  headings: { depth: number; slug: string; text: string }[];
};

const { headings } = Astro.props;
---

<aside class="split-bleed row-start-1 sticky top-20 pl-10">
  <div class="relative">
    <Card
      className="absolute top-0 w-full max-w-[220px] bg-transparent border-transparent shadow-none rounded-none"
    >
      <CardHeader className="px-0 py-2">
        <CardTitle className="text-base font-inter">Content</CardTitle>
      </CardHeader>
      <CardContent className="p-0">
        <ul class="space-y-1.5 list-outside pl-3 text-sm">
          {
            headings.map(({ depth, slug, text }) => (
              <li
                class={`pl-${(depth - 2) * 2} text-sm font-inter hover:text-purple-600 hover:dark:text-purple-500 hover:underline`}
              >
                <a href={`#${slug}`}>{text}</a>
              </li>
            ))
          }
        </ul>
      </CardContent>
    </Card>
  </div>
</aside>
