---
import Container from "@/components/Container.astro";
import Articles from "@/components/Articles.astro";
import Layout from "@/layouts/Layout.astro";

import { BriefcaseBusiness, Github } from "lucide-react";
import { Separator } from "@/components/ui/separator";
import { Text } from "@/components/ui/typography";
import { Button } from "@/components/ui/button";
---

<Layout title="Codetips - Home" description="Astro Blog">
  <Container>
    <div class="flex flex-col gap-y-4 max-w-3xl mx-auto">
      <Text
        className="group font-semibold w-full inline-flex items-end gap-x-1.5 flex-wrap"
        variant="h4"
        as="div"
      >
        Hi
        <Text className="group-hover:animate-wiggle text-3xl">👋</Text>
        I'm
        <Text
          className="font-bold underline cursor-pointer text-purple-500 hover:text-purple-600 dark:text-purple-400 dark:hover:text-purple-500 transition-colors duration-300"
          variant="h4"
          as="span"
        >
          Michael
        </Text>
        <Text
          variant="h4"
          as="span"
          className="leading-relaxed mt-1 text-muted-foreground"
        >
          and this is my personal blog where I share my thoughts and experiences
          about programming, web development, and other topics.
        </Text>
      </Text>

      <div class="flex items-end gap-x-3.5 h-[25px]">
        <Text as="div" className="flex items-center gap-x-2">
          <span class="relative flex size-2.5">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-200 opacity-75"
            ></span>
            <span
              class="relative inline-flex rounded-full size-2.5 bg-purple-300"
            ></span>
          </span>
          <Text
            as="span"
            variant="span"
            className="dark:text-neutral-400 text-neutral-500 text-sm"
          >
            Software Engineer at
          </Text>
          <Text
            as="span"
            variant="span"
            className="dark:text-neutral-300 text-neutral-600 underline decoration-purple-600 dark:decoration-purple-500/50"
          >
            @Kleva inc
          </Text>
        </Text>

        <Separator
          orientation="vertical"
          className="bg-neutral-300 dark:bg-neutral-700"
        />

        <div class="flex items-center gap-x-2">
          <Button className="size-7" variant="primary" size="icon">
            <BriefcaseBusiness />
          </Button>
          <Button className="size-7" variant="primary" size="icon">
            <Github />
          </Button>
        </div>
      </div>

      <Separator className="my-8" />

      <Articles limit={2} offset={0} style="full">
        <Text as="h3" variant="h3" className="font-grund">Latest articles</Text>
      </Articles>

      <Separator className="my-8 bg-transparent" />

      <Articles limit={3} offset={2} style="compact">
        <Text as="h3" variant="h3" className="font-grund">Popular articles</Text>
      </Articles>
    </div>
  </Container>
</Layout>
