---
import type { ArticleStyleVariants, ArticleType } from "@/types";

import { Article } from "@/components/article";

type Props = {
  limit?: number;
  offset?: number;
  style: ArticleStyleVariants;
};

const { limit = 3, offset = 0, style = "default" } = Astro.props;

const request = await fetch("https://jsonplaceholder.typicode.com/posts");
const data = ((await request.json()) as ArticleType[]).slice(offset, offset + limit);
---

<div class="flex flex-col gap-y-6">
  <slot />
  <div class="flex flex-1 flex-col gap-4">
    {
      data.map((article) => (
        <Article article={article} style={style} />
      ))
    }
  </div>
</div>
