---
import type { ArticleFrontmatter, ArticleStyleVariants } from "@/types";
import { sortItemsByDateDesc } from "@/lib/article";
import { Article } from "@/components/article";
import { getCollection } from "astro:content";

type Props = {
  limit?: number;
  skip?: number;
  size?: number;
  offset?: number;
  style: ArticleStyleVariants;
  filter?: "all" | "latest" | "popular";
};

const { size = 3, offset = 0, filter = "all", style = "default" } = Astro.props;

const filterFn = {
  all: (post: ArticleFrontmatter) => post,
  latest: (post: ArticleFrontmatter) => post,
  popular: (post: ArticleFrontmatter) => post,
};

const articleCollections = await getCollection("article");
const posts = articleCollections
  .sort(sortItemsByDateDesc)
  .map(({ data }) => data);

const data = (posts.filter(filterFn[filter]) || []).slice(
  offset,
  offset + size,
);
---

<div class="flex flex-col gap-y-6">
  <slot />
  <div class="flex flex-1 flex-col gap-4">
    {data.map((article) => <Article article={article} style={style} />)}
  </div>
</div>
