---
import background from "@/assets/background.svg";

import { SvgTexture } from "@/components/texture";
---

<div class="flex flex-col h-full relative overflow-auto bg-background blur-400">
  <SvgTexture
    className="fixed inset-0 z-[5px] h-full w-full bg-yellow-950 opacity-20"
  />
  <img
    class="fixed inset-0 blur-[300px] z-[6px] h-60 w-full"
    alt="background-image"
    src={background.src}
    fetchpriority="high"
  />
  <slot />
</div>
