---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";

type Props = {
  headings: { depth: number; slug: string; text: string }[];
};

const { headings } = Astro.props;
---

<aside class="split-bleed row-start-1 sticky top-20 pl-10">
  <div class="relative">
    <Card
      className="absolute top-0 w-full max-w-[220px] bg-transparent border-transparent border-y-neutral-400/50 dark:border-y-neutral-600/40 shadow-none rounded-none"
    >
      <!-- <CardHeader className="px-0">
        <CardTitle className="text-base bg-purple-900/20 dark:bg-purple-400/10 font-inter">On this page</CardTitle>
      </CardHeader> -->
      <CardContent className="px-0 py-6">
        <ul class="space-y-1.5 list-inside list-disc text-sm">
          {
            headings.map(({ depth, slug, text }) => (
              <li class={`pl-${(depth - 2) * 2} text-sm font-inter hover:text-purple-600 hover:dark:text-purple-500 hover:underline`}>
                <a href={`#${slug}`}>{text}</a>
              </li>
            ))
          }
        </ul>
      </CardContent>
    </Card>
  </div>
</aside>
